<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
	<meta charset="UTF-8">
	<title th:text="${title}">Insert title here</title>
</head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1 class="mt-5">Manage Activities</h1>

		<details class="my-4 card border-dark" open>
			<summary class="px-4 py-2 lead text-secondary">Form</summary>

			<div class="p-4 pt-0">
				<form th:action="@{/activity/form}" th:object="${activity}" method="post">

					<fieldset>
						<div class="row">
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityIdCrud">Id</label>
								<input class="form-control" id="ActivityIdCrud" type="text" th:field="*{activityId}"
									disabled>
							</div>
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityTaskCrud">Task</label>
								<select class="form-select form-select" id="ActivityTaskCrud" th:field="*{task}"
									required>
									<option selected th:each="task : ${tasks}" th:text="${task.name}"
										th:value="${task.taskId}"> </option>
								</select>
							</div>
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityObservationCrud">Observation</label>
								<input class="form-control" id="ActivityObservationCrud" type="text"
									th:field="*{observation}" placeholder="Observation">
							</div>
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityStartDateTimeCrud">Start Date Time</label>
								<input class="form-control" id="ActivityStartDateTimeCrud" type="datetime-local"
									th:field="*{startDatetime}" placeholder="Start Date Time">
							</div>
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityMinutesCrud">Minutes</label>
								<input class="form-control" id="ActivityMinutesCrud" type="number" th:field="*{minutes}"
									value="0" placeholder="0">
							</div>
							<div class="form-group mt-4 col-12 col-md-6 col-lg-4">
								<label class="form-label" for="ActivityEnabledCrud">Enabled</label>
								<select class="form-select form-select" id="ActivityEnabledCrud" th:field="*{enabled}"
									required>
									<option selected value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
						</div>

						<div class="mt-4">
							<button type="submit" class="btn btn-outline-secondary me-4">Save</button>
							<a class="btn btn-outline-light me-4" th:href="@{/activity}">New</a>
						</div>

					</fieldset>
				</form>
			</div>
		</details>

		<p class="lead mt-5">List Of Activities</p>
		<div class="card border-dark table-responsive p-4 mb-5">
			<table class="table table-hover table-striped mb-0">
				<thead class="my-2">
					<th scope="col">Id</th>
					<th scope="col">Task</th>
					<th scope="col">Observation</th>
					<th scope="col">Start Date Time</th>
					<th scope="col">Minutes</th>
					<th scope="col">Enabled</th>
					<th scope="col">Created</th>
					<th scope="col">Updated</th>
					<th scope="col">Actions</th>
				</thead>
				<tbody>
					<tr th:each="activity : ${activities}">
						<td th:text="${activity.activityId}"></td>
						<td th:text="${activity.task.name}"></td>
						<td th:text="${activity.observation}"></td>
						<td th:text="${activity.startDatetime}"></td>
						<td th:text="${activity.minutes}"></td>
						<td th:text="${activity.enabled}"></td>
						<td th:text="${activity.createdAt}"></td>
						<td th:text="${activity.updatedAt}"></td>
						<td>
							<div><a class="btn-link" th:href="@{/activity/} + ${activity.activityId}">Edit</a></div>
							<div><a class="text-secondary" th:href="@{/activity/delete/} + ${activity.activityId}"
									onclick="return confirm('Are you sure about that?')">Delete</a></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="layout/layout :: scripts"></div>

</body>

</html>