<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head >
<body>

	<header th:replace="layout/layout :: header"></header >

	<div>

		<h1>Horario</h1>

		<p>Filtrar por rango de fechas:</p>
		<div>
			<form th:action="@{/}" method="get">
				<span>Fecha Inicio</span><input type="date" th:name="startDate"
					th:value="${startDate}" /> | <span>Fecha Final</span><input
					type="date" th:name="endDate" th:value="${endDate}" /> <input
					type="submit" value="Filtrar" />
			</form>
		</div>

		<div>
			<details th:each="schedule: ${schedules}">
				<summary>
					<h2 th:text="${schedule.titleDate}">Noviembre 22</h2>
				</summary>

				<div>
					<div>
						<h3>Eventos</h3>
					</div>
					<div>
						<div th:each="event : ${schedule.events}">
							<p>
								Titulo:<span th:text="${event.title}"></span>
							</p>
							<p>
								Autor: <span th:text="${event.author}"></span>
							</p>
							<p>
								F. inicio: <span th:text="${event.startDatetime}"></span>
							</p>
							<p>
								F. final: <span th:text="${event.endDatetime}"></span>
							</p>
						</div>
					</div>
				</div>

				<div>
					<div>
						<h3>Cumpleaños</h3>
					</div>
					<div>
						<div th:each="birthday : ${schedule.birthdays}">
							<p>
								Titulo: <span th:text="${birthday.title}"></span>
							</p>
							<p>
								Edad: <span th:text="${birthday.year}"></span>
							</p>
						</div>
					</div>
				</div>

				<div>
					<div>
						<h3>Feriados</h3>
					</div>
					<div>
						<div th:each="holiday : ${schedule.holidays}">
							<p>
								Titulo: <span th:text="${holiday.title}"></span>
							</p>
							<p>
								Autor: <span th:text="${holiday.author}"></span>
							</p>
						</div>
					</div>
				</div>

			</details>
		</div>

	</div>
	
	<div th:replace="layout/layout :: scripts"></div >

</body>
</html>